@{
    ViewData["Title"] = "Evaluations";
}

<div class="text-center">
    <h1 class="display-4">Welcome to all evaluations</h1>
    <a class="btn btn-primary mt-3" asp-controller="ERRMEvaluation" asp-action="New">New evaluation</a>
</div>
